{
  "openapi": "3.1.0",
  "info": {
    "title": "Knowora Publisher",
    "version": "2.0.0",
    "description": "Knowora.in AI Blog Publishing API. This action allows the AI to publish SEO-optimized, categorized, and verified blog articles directly to Knowora.in."
  },
  "servers": [
    {
      "url": "https://www.knowora.in"
    }
  ],
  "paths": {
    "/api/publish-from-ai": {
      "post": {
        "operationId": "publishBlog",
        "summary": "Publish a complete blog post to Knowora.in",
        "description": "Publishes a complete Hindi or English blog article to Knowora.in. The AI should verify article information before calling this action.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "secret",
                  "title",
                  "content"
                ],
                "properties": {
                  "secret": {
                    "type": "string",
                    "description": "Secure publishing secret used to authenticate the AI publishing request (knowora-secret-2026)."
                  },
                  "title": {
                    "type": "string",
                    "description": "Main SEO-friendly article title."
                  },
                  "content": {
                    "type": "string",
                    "description": "Complete article body in clean HTML or Markdown with tables and FAQ details/summary tags."
                  },
                  "excerpt": {
                    "type": "string",
                    "description": "Short summary/excerpt of the article (140-160 characters)."
                  },
                  "category": {
                    "type": "string",
                    "description": "Main category of the article.",
                    "enum": [
                      "recruitment",
                      "government-jobs",
                      "result",
                      "admit-card",
                      "answer-key",
                      "syllabus",
                      "scholarship",
                      "study",
                      "education",
                      "career",
                      "technology",
                      "ai",
                      "finance",
                      "earning",
                      "business",
                      "government-schemes",
                      "news",
                      "updates",
                      "how-to",
                      "other"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "description": "Publishing status: 'publish' for live publication, 'draft' for draft.",
                    "enum": [
                      "publish",
                      "draft"
                    ],
                    "default": "publish"
                  },
                  "slug": {
                    "type": "string",
                    "description": "SEO-friendly unique URL slug (e.g. up-police-bharti-2026)."
                  },
                  "metaTitle": {
                    "type": "string",
                    "description": "SEO meta title for search engines."
                  },
                  "metaDescription": {
                    "type": "string",
                    "description": "SEO meta description."
                  },
                  "keywords": {
                    "type": "array",
                    "description": "Relevant SEO keywords for the article.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "description": "Relevant article tags.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sourceUrls": {
                    "type": "array",
                    "description": "Official .gov.in/.nic.in source URLs used to verify the article.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "featuredImage": {
                    "type": "string",
                    "description": "Featured image URL for the article."
                  },
                  "gridBox": {
                    "type": "string",
                    "description": "Homepage section grid box.",
                    "enum": [
                      "latestJobs",
                      "results",
                      "admitCards",
                      "answerKeys",
                      "scholarships",
                      "education",
                      "technology",
                      "ai",
                      "finance",
                      "news",
                      "latest"
                    ],
                    "default": "latestJobs"
                  },
                  "author": {
                    "type": "string",
                    "description": "Author name displayed on the article."
                  },
                  "officialApplyUrl": {
                    "type": "string",
                    "description": "Official online application link."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Article published successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "postId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Article created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "postId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request or missing/invalid fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Knowora server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}